In [1]:
import pandas as pd

In [2]:
df_all_alpha_08 = pd.read_csv('all_alpha_08.csv', sep=',')
df_all_alpha_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no

In [3]:
#df_all_alpha_08.describe()
#df_all_alpha_08.shape

### this returns the datatypes of the columns
#df_all_alpha_08.dtypes

### this displays a concise summary of the dataframe,
### including the number of non-null values in each column
#df_all_alpha_08.info()

### this returns the number of unique values in each column
#df_all_alpha_08.nunique()

### this returns the total number of nulls for each column
#df_all_alpha_08.isnull().sum()  

### check for duplicates in the data
#sum(df_all_alpha_08.duplicated())  

#df_all_alpha_08.Fuel.unique()

In [4]:
df_all_alpha_08.drop(columns=['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], inplace=True)

In [5]:
df_all_alpha_08.rename(columns={'Sales Area':'Cert Region'}, inplace=True)

In [6]:
df_all_alpha_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_all_alpha_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [7]:
print('-----------------------------------------------------------')

-----------------------------------------------------------

In [9]:
df_all_alpha_18 = pd.read_csv('all_alpha_18.csv', sep=',')
df_all_alpha_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386

In [10]:
#df_all_alpha_18.describe()
#df_all_alpha_18.shape
#df_all_alpha_18.dtypes
#df_all_alpha_18.info()
#df_all_alpha_18.nunique()
#df_all_alpha_18.isnull().sum()
#sum(df_all_alpha_18.duplicated())  
#df_all_alpha_18.Fuel.unique()

In [11]:
df_all_alpha_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1, inplace=True)
df_all_alpha_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [12]:
# rename column name to eliminate space and all to lowercases
df_all_alpha_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_all_alpha_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [13]:
#confirm column lables fro 2008 and 2018 are identical
df_all_alpha_08.columns == df_all_alpha_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [14]:
# make sure they're all identical like this
(df_all_alpha_08.columns == df_all_alpha_18.columns).all()

True

In [16]:
# save new datasets for next section
#df_all_alpha_08.to_csv('data_08_v1.csv', index=False)
#df_all_alpha_18.to_csv('data_18_v1.csv', index=False)