In [1]:
import pandas as pd

In [2]:
df_08 = pd.read_csv('data_08_v1.csv', sep=',')
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [6]:
# filter datasets for rows following California standards
df_08 = df_08.query("cert_region == 'CA'")

In [7]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [12]:
# drop certification region columns form both datasets
df_08.drop('cert_region', axis=1, inplace=True)

In [19]:
#drop all rows that have any NaN values
df_08.dropna(inplace=True)

In [28]:
df_08.isnull().sum().any()

False

In [17]:
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [23]:
sum(df_08.duplicated())

23

In [25]:
df_08.drop_duplicates(inplace=True)

In [26]:
df_08.shape

(986, 13)

In [ ]:
print('-----------------------------------------------------------------------------------------')

In [4]:
df_18 = pd.read_csv('data_18_v1.csv', sep=',')
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [8]:
# filter datasets for rows following California standards
df_18 = df_18.query("cert_region == 'CA'")

In [9]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [15]:
# drop certification region columns form both datasets
df_18.drop('cert_region', axis=1, inplace=True)

In [20]:
#drop all rows that have any NaN values
df_18.dropna(inplace=True)

In [18]:
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [24]:
sum(df_18.duplicated())

3

In [27]:
df_18.drop_duplicates(inplace=True)

In [28]:
df_18.isnull().sum().any()

False

In [29]:
df_18.shape

(794, 13)

In [30]:
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)