In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [2]:
df_08 = pd.read_csv('data_08_v2.csv', sep=',')
df_18 = pd.read_csv('data_18_v2.csv', sep=',')

In [9]:
print(df_08)
print(df_18)

           model  displ      cyl    trans drive      fuel      veh_class  \
0      ACURA MDX    3.7  (6 cyl)  Auto-S5   4WD  Gasoline            SUV
1      ACURA RDX    2.3  (4 cyl)  Auto-S5   4WD  Gasoline            SUV
2       ACURA RL    3.5  (6 cyl)  Auto-S5   4WD  Gasoline    midsize car
3       ACURA TL    3.2  (6 cyl)  Auto-S5   2WD  Gasoline    midsize car
4       ACURA TL    3.5  (6 cyl)  Auto-S5   2WD  Gasoline    midsize car
..           ...    ...      ...      ...   ...       ...            ...
981    VOLVO V70    3.2  (6 cyl)  Auto-S6   2WD  Gasoline  station wagon
982  VOLVO XC 70    3.2  (6 cyl)  Auto-S6   4WD  Gasoline            SUV
983  VOLVO XC 90    3.2  (6 cyl)  Auto-S6   2WD  Gasoline            SUV
984  VOLVO XC 90    3.2  (6 cyl)  Auto-S6   4WD  Gasoline            SUV
985  VOLVO XC 90    4.4  (8 cyl)  Auto-S6   4WD  Gasoline            SUV

    air_pollution_score city_mpg hwy_mpg cmb_mpg greenhouse_gas_score smartway
0                     7       15      20      17                    4       no
1                     7       17      22      19                    5       no
2                     7       16      24      19                    5       no
3                     7       18      26      21                    6      yes
4                     7       17      26      20                    6      yes
..                  ...      ...     ...     ...                  ...      ...
981                   7       16      24      19                    5       no
982                   7       15      22      17                    4       no
983                   7       14      20      16                    4       no
984                   7       14      20      16                    4       no
985                   7       13      19      15                    3       no

[986 rows x 13 columns]
           model  displ  cyl       trans drive                  fuel  \
0      ACURA RDX    3.5  6.0  SemiAuto-6   2WD              Gasoline
1      ACURA RDX    3.5  6.0  SemiAuto-6   4WD              Gasoline
2      ACURA TLX    2.4  4.0       AMS-8   2WD              Gasoline
3      ACURA TLX    3.5  6.0  SemiAuto-9   2WD              Gasoline
4      ACURA TLX    3.5  6.0  SemiAuto-9   4WD              Gasoline
..           ...    ...  ...         ...   ...                   ...
789  VOLVO XC 60    2.0  4.0  SemiAuto-8   4WD  Gasoline/Electricity
790  VOLVO XC 90    2.0  4.0  SemiAuto-8   2WD              Gasoline
791  VOLVO XC 90    2.0  4.0  SemiAuto-8   4WD              Gasoline
792  VOLVO XC 90    2.0  4.0  SemiAuto-8   4WD              Gasoline
793  VOLVO XC 90    2.0  4.0  SemiAuto-8   4WD  Gasoline/Electricity

        veh_class  air_pollution_score city_mpg hwy_mpg cmb_mpg  \
0       small SUV                    3       20      28      23
1       small SUV                    3       19      27      22
2       small car                    3       23      33      27
3       small car                    3       20      32      24
4       small car                    3       21      30      24
..            ...                  ...      ...     ...     ...
789     small SUV                    7    26/60   28/58   26/59
790  standard SUV                    5       22      29      25
791  standard SUV                    5       22      28      24
792  standard SUV                    5       20      27      23
793  standard SUV                    7    26/63   30/61   27/62

     greenhouse_gas_score smartway
0                       5       No
1                       4       No
2                       6       No
3                       5       No
4                       5       No
..                    ...      ...
789                    10    Elite
790                     5       No
791                     5       No
792                     5       No
793                    10    Elite

[794 rows x 13 columns]

In [19]:
#print(df_08.dtypes)
#print(df_18.dtypes)

In [14]:
df_08['cyl'] = df_08['cyl'].str.extract('(\d+)').astype(int)
df_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [15]:
df_18['cyl'] = df_18['cyl'].astype(int)
df_18['cyl'].value_counts()

4     365
6     246
8     153
3      18
12      9
5       2
16      1
Name: cyl, dtype: int64

In [16]:
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)