### Model Diagnostics in Python

In this notebook, you will be trying out some of the model diagnostics you saw from Sebastian, but in your case there will only be two cases - either admitted or not admitted.

First let's read in the necessary libraries and the dataset.

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, precision_score, recall_score, accuracy_score
from sklearn.model_selection import train_test_split
np.random.seed(42)

df = pd.read_csv('./admissions.csv')
df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

`1.` Change prestige to dummy variable columns that are added to `df`.  Then divide your data into training and test data.  Create your test set as 20% of the data, and use a random state of 0.  Your response should be the `admit` column.  [Here](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) are the docs, which can also find with a quick google search if you get stuck.

In [2]:
df[['prest_1', 'prest_2', 'prest_3', 'prest_4']] = pd.get_dummies(df['prestige'])

In [3]:
df.head(1)

   admit  gre   gpa  prestige  prest_1  prest_2  prest_3  prest_4
0      0  380  3.61         3        0        0        1        0

In [4]:
y = df['admit']
X = df.drop(['admit', 'prestige', 'prest_1'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [5]:
X_test

     gre   gpa  prest_2  prest_3  prest_4
65   600  3.59        1        0        0
132  580  3.40        1        0        0
74   720  3.45        0        0        1
78   540  3.12        0        0        0
37   520  2.90        0        1        0
..   ...   ...      ...      ...      ...
268  540  3.33        0        1        0
234  480  4.00        1        0        0
145  380  3.43        0        1        0
164  580  3.30        1        0        0
124  720  3.88        0        1        0

[80 rows x 5 columns]

In [6]:
X_train

     gre   gpa  prest_2  prest_3  prest_4
64   580  4.00        0        1        0
55   740  4.00        0        1        0
316  540  3.28        0        0        0
102  380  3.33        0        0        1
261  520  3.90        0        1        0
..   ...   ...      ...      ...      ...
323  680  3.31        1        0        0
192  380  3.59        0        0        1
117  700  3.72        1        0        0
47   500  2.97        0        0        1
172  680  3.48        0        1        0

[317 rows x 5 columns]

In [7]:
y_train

64     0
55     1
316    0
102    0
261    1
      ..
323    0
192    0
117    0
47     0
172    0
Name: admit, Length: 317, dtype: int64

In [8]:
y_test

65     0
132    0
74     0
78     0
37     0
      ..
268    0
234    0
145    0
164    0
124    0
Name: admit, Length: 80, dtype: int64

`2.` Now use [sklearn's Logistic Regression](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) to fit a logistic model using `gre`, `gpa`, and 3 of your `prestige` dummy variables.  For now, fit the logistic regression model without changing any of the hyperparameters.  

The usual steps are:
* Instantiate
* Fit (on train)
* Predict (on test)
* Score (compare predict to test)

As a first score, obtain the [confusion matrix](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html).  Then answer the first question below about how well your model performed on the test data.

In [9]:
log_mod = LogisticRegression()
log_mod.fit(X_train, y_train)
preds = log_mod.predict(X_test)
confusion_matrix(y_test, preds)

C:\Users\christopher.hu\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([[56,  0],
       [20,  4]], dtype=int64)

`3.` Now, try out a few additional metrics: [precision](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html), [recall](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.html), and [accuracy](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html) are all popular metrics, which you saw with Sebastian.  You could compute these directly from the confusion matrix, but you can also use these built in functions in sklearn.

Another very popular set of metrics are [ROC curves and AUC](http://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html#sphx-glr-auto-examples-model-selection-plot-roc-py).  These actually use the probability from the logistic regression models, and not just the label.  [This](http://blog.yhat.com/posts/roc-curves.html) is also a great resource for understanding ROC curves and AUC.

Try out these metrics to answer the second quiz question below.  I also provided the ROC plot below.  The ideal case is for this to shoot all the way to the upper left hand corner.  Again, these are discussed in more detail in the Machine Learning Udacity program.

In [10]:
precision_score(y_test, preds)

1.0

In [11]:
recall_score(y_test, preds)

0.16666666666666666

In [12]:
accuracy_score(y_test, preds)

0.75

In [13]:
from ggplot import *
from sklearn.metrics import roc_curve, auc
%matplotlib inline

preds = log_mod.predict_proba(X_test)[:,1]
fpr, tpr, _ = roc_curve(y_test, preds)

df = pd.DataFrame(dict(fpr=fpr, tpr=tpr))
ggplot(df, aes(x='fpr', y='tpr')) +\
    geom_line() +\
    geom_abline(linetype='dashed')

AttributeError: module 'pandas' has no attribute 'tslib'